@import 'normalize'

defineFont('Roboto Thin', 'Roboto-Thin', 100, 'thin')
defineFont('Roboto Light', 'Roboto-Light', 300, 'light')
defineFont('Roboto Regular', 'Roboto-Regular', 400, 'normal')
defineFont('Roboto Medium', 'Roboto-Medium', 500, 'normal')
defineFont('Roboto Bold', 'Roboto-Bold', 700, 'bold')

*, *:before, *:after
  box-sizing border-box

html
  font-family $robotoRegular
  font-size $defaultFontSize

html,
body,
body > div
  height 100%

h4
  font-size x(22)
  font-family $robotoRegular
  font-weight normal

.systemGrid
  .baseTopBlock
    grid-row 1
    grid-column 2

  .baseRightBlock
    grid-column 3
    grid-row 2
    
  .baseBottomBlock
    grid-column 2
    grid-row 3
    
  .baseLeftBlock
    grid-column 1
    grid-row 2