$white = rgba(255, 255, 255, 1) // #FFFFFF
$black = rgba(0, 0, 0, 1) // #000000
$dark = rgba(18, 21, 20, 1) // #121514
$gray = rgba(216, 215, 214, 1) // #D8D7D6
$charleston = rgba(33, 42, 37, 1) // #212A25
$lightGray = rgba(216, 215, 214, 0.4) // #D8D7D6
$lightenSand = rgba(191, 181, 166, 0.35) // #BFB5A6
$red = rgba(181, 38, 19, 1) // #B52613
$green = rgba(58, 135, 31, 1) // #3A871F

$text = $dark
$button = $charleston
$border = $charleston
$required = $red
$hover = $lightGray
$nav = $gray
$modalBackground = alpha($dark, 0.2)
$error = alpha($red, 0.8)
$success = alpha($green, 0.8)
